<!DOCTYPE HTML>
<html>
<body>

<audio controls="controls">
#if $song.gettype() == 'mp3'
	<source src="$song.urlpath()" type="audio/mpeg">
#else if $song.gettype() == 'ogg'
	<source src="$song.urlpath()" type="audio/ogg">
#end if
Your browser does not support the audio element.
</audio>

</body>
</html>